@use "sass:map";
@use "@picocss/pico/scss/pico" as * with (
  // Define the root element used to target <header>, <main>, <footer>
  // with $enable-semantic-container and $enable-responsive-spacings
  $semantic-root-element: "#root",
  
  // Enable <header>, <main>, <footer> inside $semantic-root-element as containers
  $enable-semantic-container: true,

  // Enable .classes
  $enable-classes: true,
);

[data-theme=dark],
body:not([data-theme=light]) {
  background-color: rgba(31, 31, 48, 0.979);
  --pico-text-selection-color: rgba(245, 107, 61, 0.1875);
  --pico-primary: #f56b3d;
  --pico-primary-background: #d24317;
  --pico-primary-underline: rgba(245, 107, 61, 0.5);
  --pico-primary-hover: #f8a283;
  --pico-primary-hover-background: #e74b1a;
  --pico-primary-focus: rgba(245, 107, 61, 0.375);
  --pico-primary-inverse: #fff;
}

[data-theme=light],
body:not([data-theme=dark]) {
  background-color: whitesmoke;
  --pico-text-selection-color: rgba(244, 93, 44, 0.25);
  --pico-primary: #bd3c13;
  --pico-primary-background: #d24317;
  --pico-primary-underline: rgba(189, 60, 19, 0.5);
  --pico-primary-hover: #942d0d;
  --pico-primary-hover-background: #bd3c13;
  --pico-primary-focus: rgba(244, 93, 44, 0.5);
  --pico-primary-inverse: #fff;
}

// Slims down the nav vertically
:root {
  --pico-nav-link-spacing-vertical: 0.3rem;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// Reamoves text decoration for all links
a {
  text-decoration: none;
}

header {
  margin-top: .25rem;
}

// Slims down the bottom of the header
header h2 {
  --pico-typography-spacing-vertical: .25em;
}

header button {
  display: flex;
  justify-self: flex-end;
  max-width: fit-content;
  padding: .25rem;
  margin-top: .25rem;
}

nav {
  margin-bottom: 1em;
}

nav li {
  padding-top: .5em;
  padding-bottom: .5em;
}

.deleteBtn {
  margin-right: .5rem;
}

.Home {
  display: flex;
  justify-content: center;
}

.Feed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1.5rem;
}

/* Style the cards */
.Post {
  display: flex;
  flex-direction: column;
  height: 300px;
}

.Post .postButtons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

footer {
  text-align: center;
  margin-top: auto;
}