@use "sass:map";
@use "@picocss/pico/scss/pico" as * with (
  $theme-color: "amber",
    
  // Define the root element used to target <header>, <main>, <footer>
  // with $enable-semantic-container and $enable-responsive-spacings
  $semantic-root-element: "#root",
  
  // Enable <header>, <main>, <footer> inside $semantic-root-element as containers
  $enable-semantic-container: true,

  // Enable .classes
  $enable-classes: true,
);

/*[data-theme=light],
:root:not([data-theme=dark]) {
  nav {
    --pico-card-box-shadow: var(--pico-box-shadow);
  }
}*/

body {
  background-color: rgb(235, 235, 235);
}

header, nav, footer {
  background-color: white;
}

header {
  padding-bottom: 0;
}

nav {
  margin-bottom: 1rem;
}

footer {
  text-align: center;
}