@use "sass:map";
@use "@picocss/pico/scss/pico" as * with (
  $theme-color: "amber",
    
  // Define the root element used to target <header>, <main>, <footer>
  // with $enable-semantic-container and $enable-responsive-spacings
  $semantic-root-element: "#root",
  
  // Enable <header>, <main>, <footer> inside $semantic-root-element as containers
  $enable-semantic-container: true,

  // Enable .classes
  $enable-classes: true,
);

/*[data-theme=light],
:root:not([data-theme=dark]) {
  nav {
    --pico-card-box-shadow: var(--pico-box-shadow);
  }
}*/

body {
  background-color: rgb(235, 235, 235);
}

header, nav, footer {
  background-color: white;
}

header h2 {
  --pico-typography-spacing-vertical: .25em;
}

nav {
  margin-bottom: 1em;
}

nav li {
  padding-top: .5em;
  padding-bottom: .5em;
}

footer {
  text-align: center;
}